<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roam.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>26</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
				<key>dateExpires</key>
				<string>26/11/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSAuthCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSIoT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSMobileClientXCF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.23.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Roam.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RoamBatchConnector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RoamGeofence.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>426C5B10939951DFA2FC38EE45886450DF7E18E6</string>
						<key>dateExpires</key>
						<string>26/11/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7LCSPM3A63</string>
						<key>name</key>
						<string>Roam B.V.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7LCSPM3A63.com.roam.jakala</string>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7LCSPM3A63</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>roam.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>07dcdec0-1396-463e-9dd9-c92d6dc02b5d</string>
				<key>dateExpires</key>
				<string>26/11/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.roam.jakala</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7LCSPM3A63</string>
				<key>name</key>
				<string>Roam B.V.</string>
			</dict>
			<key>versionNumber</key>
			<string>0.1</string>
		</dict>
	</array>
</dict>
</plist>
